<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reportConfig.ExtentTestListener"/>
        <listener class-name="actions.MethodListener"/>
    </listeners>
    <test name="Registration Form Feature">
        <classes>
            <class name="testcases.RegistrationHappyCase"/>
            <class name="testcases.RegistrationNegativeCase"/>
        </classes>
    </test>

</suite>